{:paths ["src" "resources"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
              "clojars" {:url "https://clojars.org/repo"}}
	       :deps {org.clojure/clojure {:mvn/version "1.10.1"}
	               clj-python/libpython-clj {:mvn/version "1.37"}
		               org.clojure/data.csv {:mvn/version "0.1.4"}}
			       }